asgiref==3.4.1
bcrypt==3.2.0
cffi==1.15.0
cryptography==35.0.0
Django==3.2.7
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
mongoengine==0.23.1
mysqlclient==2.0.3
paramiko==2.8.0
pycparser==2.21
PyJWT==2.1.0
pymongo==3.12.1
PyNaCl==1.4.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.2
